<!DOCTYPE html>
<html>
  <head>
    <title>Multiplication Tables</title>
    <link rel="stylesheet" href="main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
  </head>
  <body ng-app="">
    <div class="table">
    1 * <input type="text" value={{input}}  ng-model="input"/> = <span class="result">{{ input * 1 }}</span>
  </div>
  <div class="table">
    2 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 2 }}</span>
  </div>
  <div class="table">
    3 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 3 }}</span>
  </div>
  <div class="table">
    4 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 4 }}</span>
  </div>
  <div class="table">
    5 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 5 }}</span>
  </div>
  <div class="table">
    6 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 6 }}</span>
  </div>
  <div class="table">
    7 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 7 }}</span>
  </div>
  <div class="table">
    8 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 8 }}</span>
  </div>
  <div class="table">
    9 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 9 }}</span>
  </div>
  <div class="table">
    10 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 10 }}</span>
  </div>
  <div class="table">
    11 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 11 }}</span>
  </div>
  <div class="table">
    12 * <input type="text" value={{input}} ng-model="input" /> = <span class="result">{{ input * 12 }}</span>
  </div>
  </body>
</html>
